<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>daily_report_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TopPageIndexServlet</servlet-name>
    <servlet-class>controllers.toppage.TopPageIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeesUpdateServlet</servlet-name>
    <servlet-class>controllers.employees.EmployeesUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeesIndexServlet</servlet-name>
    <servlet-class>controllers.employees.EmployeesIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeesEditServlet</servlet-name>
    <servlet-class>controllers.employees.EmployeesEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeesNewServlet</servlet-name>
    <servlet-class>controllers.employees.EmployeesNewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeesCreateServlet</servlet-name>
    <servlet-class>controllers.employees.EmployeesCreateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeesDestroyServlet</servlet-name>
    <servlet-class>controllers.employees.EmployeesDestroyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeesShowServlet</servlet-name>
    <servlet-class>controllers.employees.EmployeesShowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controllers.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopPageIndexServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeesUpdateServlet</servlet-name>
    <url-pattern>/employees/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeesIndexServlet</servlet-name>
    <url-pattern>/employees/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeesEditServlet</servlet-name>
    <url-pattern>/employees/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeesNewServlet</servlet-name>
    <url-pattern>/employees/new</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeesCreateServlet</servlet-name>
    <url-pattern>/employees/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeesDestroyServlet</servlet-name>
    <url-pattern>/employees/destroy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeesShowServlet</servlet-name>
    <url-pattern>/employees/show</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>listeners.PropertiesListener</listener-class>
  </listener>
</web-app>